.fade-in-slow {
  opacity: 0;
  animation: fadeInSlow 1s ease-in-out forwards;
}

@keyframes fadeInSlow {
  to {
    opacity: 1;
  }
}

div p{
  font-weight: bold;
}

.descargar:hover{
  background-color: rgb(2, 161, 2);
  color: #fff;
}

    .table thead {
        position: sticky;
        top: 0;
        background-color: #f8f9fa; /* O el color de fondo que prefieras */
        z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
    }