.contenedor{
    background-color: #fff;
    /* background: linear-gradient(to right, #071a3d, #2a5298); */
    /* background-image: url('/assets/cin_b.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    opacity: .9;
    border-radius: 5px;
    padding: 1em;
    min-height: 93vh;
    /* border: 1px solid #000; */
}
label{
    color: #000;
    /* font-weight: bold; */
}
input.activ{
  width: 50px;
  height: 25px;
}

input.activ:checked {
  background-color: rgb(4, 114, 26);
  border-color: rgb(4, 114, 26);
  opacity: .8;
}

input.activ:checked::before {
  background-color: white;
}

.aut{
  margin-top: 2px;
}
input, select, textarea, span{
 border: 1px solid #b6b6b6;
}

.alert-pos{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 1em;
}

.box{
  border-bottom: 2px solid #000;
}

.box-enc{
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #fefefe
}

div p{
  font-weight: bold;
}

.fade-in-slow {
  opacity: 0;
  animation: fadeInSlow 1s ease-in-out forwards;
}

@keyframes fadeInSlow {
  to {
    opacity: 1;
  }
}

/* .rebote {
  width: auto;
  height: auto;
  position: relative;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
} */

mat-datepicker{
  color: #000;
}


.loader {
  width: 48px;
  height: 12px;
  /* margin-top: 40px; */
  background: rgb(4, 114, 26);
  opacity: .9;
  display: inline-block;
  position: relative;
}
.loader::after {
  content: '';  
  left: 50%;
  top: -47px;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: rgb(4, 114, 26);
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}
.loader::before {
  content: '';  
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 20px;
  background: rgb(4, 114, 26);
  opacity: .9;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}

.acordion-lista{
  align-items: center;
   height: 7vh;
   border-radius: 5px;
   border: 1px solid gainsboro;
}

.acordion-lista:hover{
   background-color: rgb(146, 141, 141);
   color: white;
}

.arriba-rotada {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.abajo-rotada {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}


.example-custom-date-class {
   background-color : naranja;
   border-radius : 100% ;
}