<div class="p-4 fade-in-slow">
    <div class="container-fluid contenedor shadow" *ngIf="user[0].emp_tipo == 'C' || user[0].emp_tipo == 'JI'  || user[0].emp_tipo == 'RI'">
        <div class="container-fluid box">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12 d-flex justify-content-start">
                   <!-- <p>Días ocupados: {{this.user[0].Dias_ocupados}} de {{this.user[0].Dias_vacaciones}} días</p> -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-0"></div>
                <div class="col-lg-4 col-md-2 col-sm-0">
                     <select *ngIf="this.user[0].emp_tipo == 'S'" class="form-select form-select-md" aria-label=".form-select-sm example">
                            <!-- <option selected>Selecciona colaborador</option>
                            <option value="1">Vacaciones</option>
                            <option value="2">Permiso</option>
                            <option value="3">Pago tiempo por tiempo</option> -->
                            <div *ngFor="let colaborador of colaboradores">
                                <option value="1">{{colaborador.Nombre_completo}}</option>
                            </div>
                     </select>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-end"  (click)="abrirAlerta()" style="cursor: pointer;">
                   <p *ngIf="user[0].emp_tipo == 'C'">{{this.user[0].emp_nom}}</p>&nbsp;&nbsp;
                   <i *ngIf="user[0].emp_tipo == 'C'" class="bi bi-person-circle" style="font-size: 3.5vh; margin-top: -1vh;"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid box-enc">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2>PARA USO EXCLUSIVO DEL DEPARTAMENTO INTERESADO</h2>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-0"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <!-- <div class="col-lg-4">
                    <button class="btn btn-success rounded-pill mt-1" type="button">
                        <a>2023 Días disponibles: 0 </a>
                    </button>
                </div> -->
                <!-- <div class="col-lg-6">
                    <button class="btn btn-success rounded-pill mt-1" type="button">
                        <a> {{this.periodo_anterior}} Días disponibles: {{this.user[0].Dias_disponibles_p2}} </a>
                    </button>
                </div> -->
                
                    <div class="col-lg-4 d-flex justify-content-center" *ngFor="let usuario of user">
                        <button class="btn btn-success rounded-pill mt-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <a (click)="recuperarHistorial(usuario.Periodo)" data-bs-toggle="tooltip" data-bs-placement="right" title="Mi Historial">Periodo {{usuario.Periodo}}: {{usuario.Saldo}} días disponibles</a>
                        </button>
                    </div>
                
                <!-- <p style="cursor: pointer;"><span class="badge rounded-pill bg-success mt-1" style="font-size: medium;"> Días disponibles: {{this.user[0].Dias_disponibles}} </span></p> -->
            </div>
        </div>
        <form [formGroup]="solicitudForm">
            <div class="row">
                <div class="container d-flex justify-content-center"><h2 style="color: #fff; font-weight: bold; font-size: 2em;"></h2></div>
                <div class="col-lg-2 col-sm-12"></div>
                <div class="col-lg-8 col-sm-12">

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Fecha</span>
                        <input type="text" class="form-control" [value] ="this.fecha_hoy" disabled aria-label="Username">
                        <span class="input-group-text">del 20</span>
                        <input type="text" class="form-control" [value] ="this.ano_hoy" disabled aria-label="Server">
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Por medio del presente solicitamos se autorice a</span>
                        <input type="text" class="form-control" [value] ="this.user[0].emp_nom"  disabled aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <!-- [value]="this.user[0].Fecha_de_alta" -->
                        <span class="input-group-text" id="basic-addon1">Fecha de ingreso</span>
                        <input style="width: 15vh;" type="text" class="form-control" [value]="this.fecha_ingreso" disabled aria-label="Username">
                        <span class="input-group-text">Años Cumplidos</span>
                        <!-- [value]="this.cumplidos" -->
                        <input type="text" class="form-control" [value]="this.cumplidos" disabled aria-label="Server">
                        <span class="input-group-text">No. Empleado</span>
                        <input type="text" class="form-control" [value]="this.user[0].emp_cve" disabled aria-label="Server">
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Del departamento de</span>
                        <input type="text" class="form-control" [value] ="this.user[0].Descripcion" disabled aria-label="Username">
                        <span class="input-group-text">Centro de costos&nbsp;
                            <label *ngIf="isInvalid('cCostos')" style="color: red; font-size: small;">( campo obligatorio* )</label>
                        </span>
                        <input type="text" class="form-control" [value] ="this.user[0].dep_id" disabled aria-label="Server">
                    </div>

                    <label for="basic-url" class="form-label d-flex justify-content-center">Permiso para faltar a sus labores</label>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-con" autocomplete="off" formControlName="tPermiso1">
                                <label class="btn btn-outline-success" for="btn-check-con">Con goce de sueldo</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-sin" autocomplete="off" formControlName="tPermiso2">
                                <label class="btn btn-outline-success" for="btn-check-sin">Sin goce de sueldo</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-sindi" autocomplete="off" formControlName="tPermiso3">
                                <label class="btn btn-outline-success" for="btn-check-sindi">Sindicalizado</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-no" autocomplete="off" formControlName="tPermiso4">
                                <label class="btn btn-outline-success" for="btn-check-no">No sindicalizado</label>
                            </div>
                        </div>
                        
                    
                              
                        <!-- <select class="form-select" aria-label="Default select example" formControlName="tPermiso">
                            <option selected>{{this.selectOption}}</option>
                            <option value="Con goce de sueldo">Con goce de sueldo</option>
                            <option value="Sin goce de sueldo">Sin goce de sueldo</option>
                            <option value="Sindicalizado">Sindicalizado</option>
                            <option value="No sindicalizado">No sindicalizado</option>
                        </select> -->
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">Por&nbsp;
                            <label *ngIf="isInvalid('cDias')" style="color: red; font-size: small;">( Campo obligatorio* )</label>
                            <!-- <label *ngIf="this.solicitudForm.get('cDias')?.value > this.dias_diponibles" style="color: red; font-size: small;">(  Días No disponibles* )</label> -->
                            <label *ngIf="this.solicitudForm.get('cDias')?.value > this.dias_diponibles" style="color: red; font-size: small;">(  Días No disponibles* )</label>
                        </span>
                        <input type="text" class="form-control" formControlName="cDias" placeholder="10" aria-label="Username">
                        <span class="input-group-text">días, a partir del&nbsp;
                            <label *ngIf="isInvalid('fechaApartir')" style="color: red; font-size: small;">( campo obligatorio* )</label>
                        </span>
                            <input class="form-control" matInput [matDatepicker]="inicioPicker" [matDatepickerFilter]="filtroFecha" formControlName="fechaApartir"/>
                            <span><mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle></span>
                            <mat-datepicker #inicioPicker [dateClass]="dateClass" panelClass="calendario"></mat-datepicker>
                    </div>



                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">al día&nbsp;
                            <label *ngIf="isInvalid('fechaHasta')" style="color: red; font-size: small;">( Campo obligatorio* )</label>
                        </span>
                            <input class="form-control" matInput [matDatepicker]="finPicker" [matDatepickerFilter]="filtroFecha" formControlName="fechaHasta"/>
                            <span><mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle></span>
                            <mat-datepicker #finPicker [dateClass]="dateClass" panelClass="calendario"></mat-datepicker>                        
                            <span class="input-group-text">inclusive</span>
                    </div>

                    <div class="input-group mb-1">
                        <select (change)="valorSelect($event)" class="form-select form-select-md" aria-label=".form-select-sm example">
                            <option selected>Selecciona una opción</option>
                            <option value="Vacaciones">Vacaciones</option>
                            <option value="Pago tiempo por tiempo">Pago tiempo por tiempo</option>
                            <option value="Permiso">Permiso</option>
                            <option value="Permiso por paternidad">Permiso por paternidad</option>
                            <option value="Permiso por defuncion">Permiso por defunción</option>
                        </select>
                    </div>

                    <div class="input-group mb-1" *ngIf="this.opcionselect != 'Pago tiempo por tiempo'">
                        <span class="input-group-text">Motivo&nbsp;
                            <label *ngIf="isInvalid('motivo')" style="color: red; font-size: small;">( Campo obligatorio* )</label></span>
                        <textarea class="form-control" aria-label="With textarea" formControlName="motivo"></textarea>
                    </div>

                    <div class="input-group mb-1" *ngIf="this.opcionselect == 'Pago tiempo por tiempo'">
                        <span class="input-group-text">Motivo&nbsp;
                            <!-- <label *ngIf="isInvalid('motivo')" style="color: red; font-size: small;">( Campo obligatorio* )</label>               -->
                            <label *ngIf="solicitudForm.controls['motivo'].invalid" style="color: red; font-size: small;">( Ingresa formato fecha valido )</label>
                        </span>
                        <textarea pattern="^El tiempo se pagara del \d{1,2} al \d{1,2} de [A-Z][a-z][a-z], \d{1,2} hr al dia+.*" class="form-control" aria-label="With textarea" formControlName="motivo" placeholder="Ejemplo: El tiempo se pagara del 27 al 31 de Oct, 1 hr al dia..."></textarea>
                    </div>

                    <div class="input-group d-flex justify-content-center mt-2">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center" *ngIf="this.spinerBandera == false">
                                <label class="aut">Firmar</label>&nbsp;&nbsp;
                                <div class="form-check form-switch">
                                    <input class="form-check-input activ" formControlName="firma" type="checkbox" id="flexSwitchCheckDefault" (click)="cambiarLeyenda($event)">
                                    &nbsp;&nbsp;<label class="form-check-label aut" for="flexSwitchCheckDefault"></label>
                                    <!-- {{checkLeyenda}} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12"></div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-5 col-sm-12"></div>
            <div class="col-lg-2 col-sm-12">
                <div class="container-fluid d-flex justify-content-center" style="margin-top: 1vh;">
                    <button *ngIf="this.spinerBandera == false && this.opcionselect != '' && this.solicitudForm.value.firma != 0 && this.solicitudForm.value.fechaApartir != '' && this.solicitudForm.value.fechaHasta != '' && this.solicitudForm.value.cDias != '' && this.solicitudForm.value.tPermiso != '' && this.solicitudForm.value.tPermiso != 'Selecciona una opción'  && this.solicitudForm.value.motivo != '' && this.solicitudForm.get('cDias')?.value <= this.dias_diponibles && (this.solicitudForm.value.tPermiso1 == true || this.solicitudForm.value.tPermiso2 == true || this.solicitudForm.value.tPermiso3 == true || this.solicitudForm.value.tPermiso4 == true) && solicitudForm.controls['motivo'].valid && this.user[0].Dias_disponibles != 0" class="btn btn-success w-100" type="button" (click)="enviar()">Enviar</button>
                    <button *ngIf="this.spinerBandera == false && this.opcionselect == '' || this.solicitudForm.value.firma == 0 || this.solicitudForm.value.fechaApartir == '' || this.solicitudForm.value.fechaHasta == '' || this.solicitudForm.value.cDias == '' || this.solicitudForm.value.tPermiso == '' || this.solicitudForm.value.tPermiso == 'Selecciona una opción' || this.solicitudForm.value.motivo == '' || this.solicitudForm.get('cDias')?.value > this.dias_diponibles || (this.solicitudForm.value.tPermiso1 == false && this.solicitudForm.value.tPermiso2 == false && this.solicitudForm.value.tPermiso3 == false && this.solicitudForm.value.tPermiso4 == false) || solicitudForm.controls['motivo'].invalid || this.user[0].Dias_disponibles == 0" disabled class="btn btn-secondary w-100" type="button">Enviar</button>
                    <!-- <div class="text-center" *ngIf="spinerBandera">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div> -->
                    <span *ngIf="spinerBandera" class="loader"></span>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12"></div>
        </div>
        
    </div>

    <div class="container-fluid contenedor shadow" *ngIf="user[0].emp_tipo == 'S' || user[0].emp_tipo == 'RIA'">
        <div class="container-fluid box">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12 d-flex justify-content-start">
                   <!-- <p *ngIf="this.colaborador[0] && this.banderaDias == false">Días ocupados: {{this.colaborador[0].Dias_ocupados}} de {{this.colaborador[0].Dias_vacaciones}} días</p> -->
                </div>
                <div class="col-lg-1 col-md-2 col-sm-0"></div>
                <div class="col-lg-5 col-md-2 col-sm-0" style="margin-top: -2vh;">
                     <select (change)="datosCo($event)" class="form-select form-select-md" aria-label=".form-select-sm example">
                            <!-- <option selected>Selecciona colaborador</option>
                            <option value="1">Vacaciones</option>
                            <option value="2">Permiso</option>
                            <option value="3">Pago tiempo por tiempo</option> -->
                            <div *ngFor="let colaborador of colaboradores">
                                <option value="{{colaborador.emp_cve}}{{colaborador.Periodo}}">{{colaborador.emp_cve}}&nbsp;&nbsp;&nbsp;{{colaborador.emp_nom}}&nbsp;&nbsp;&nbsp;{{colaborador.Periodo}}</option>
                            </div>
                     </select>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-end"  (click)="abrirAlerta()" style="cursor: pointer;">
                   <p>{{this.user[0].emp_nom}}</p>&nbsp;&nbsp;
                   <i class="bi bi-person-circle" style="font-size: 3.5vh; margin-top: -1vh;"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid box-enc">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2>PARA USO EXCLUSIVO DEL DEPARTAMENTO INTERESADO</h2>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-0"></div>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-12" *ngIf="this.colaborador[0] && this.banderaDias == false">
                    <button class="btn btn-success rounded-pill mt-1" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <a (click)="recuperarHistorial(this.colaborador[0].Periodo)" data-bs-toggle="tooltip" data-bs-placement="right" title="Mi Historial"> Periodo {{this.colaborador[0].Periodo}}: {{this.colaborador[0].Saldo}} días disponibles</a>
                    </button>
                </div>
                <!-- <div class="col-lg-6" *ngIf="this.colaborador[0] && this.banderaDias == false">
                    <button class="btn btn-success rounded-pill mt-1" type="button">
                        <a> {{this.periodo_anterior}} Días disponibles: {{this.colaborador[0].Dias_disponibles_p2}} </a>
                    </button>
                </div>
                <div class="col-lg-6" *ngIf="this.colaborador[0] && this.banderaDias == false">
                    <button class="btn btn-success rounded-pill mt-1" style="width: 28vh;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <a (click)="recuperarHistorial()" data-bs-toggle="tooltip" data-bs-placement="right" title="Mi Historial">2025 Días disponibles: {{this.colaborador[0].Dias_disponibles}} </a>
                    </button>
                </div> -->
                <!-- <p *ngIf="this.colaborador[0] && this.banderaDias == false"><span class="badge rounded-pill bg-success mt-1" style="font-size: medium;"> Días disponibles {{this.colaborador[0].Dias_disponibles}} </span></p> -->
            </div>
        </div>
        <form [formGroup]="solicitudForm">
            <div class="row">
                <div class="container d-flex justify-content-center"><h2 style="color: #fff; font-weight: bold; font-size: 2em;"></h2></div>
                <div class="col-lg-2 col-sm-12"></div>
                <div class="col-lg-8 col-sm-12">

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Fecha</span>
                        <input type="text" class="form-control" [value] ="this.fecha_co_hoy" disabled aria-label="Username">
                        <span class="input-group-text">del 20</span>
                        <input type="text" class="form-control" [value] ="this.ano_co_actual" disabled aria-label="Server">
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Por medio del presente solicitamos se autorice a</span>
                        <input type="text" class="form-control" [value] ="this.nombre_co"  disabled aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <!-- [value]="this.user[0].Fecha_de_alta" -->
                        <span class="input-group-text" id="basic-addon1">Fecha de ingreso</span>
                        <input style="width: 15vh;" type="text" class="form-control" [value]="this.fecha_co_ingreso" disabled aria-label="Username">
                        <span class="input-group-text">Años Cumplidos</span>
                        <!-- [value]="this.cumplidos" -->
                        <input type="text" class="form-control" [value]="this.anos_co_cumplidos" disabled aria-label="Server">
                        <span class="input-group-text">No. Empleado</span>
                        <input type="text" class="form-control" [value]="this.no_tarjeta_co" disabled aria-label="Server">
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Del departamento de</span>
                        <input type="text" class="form-control" [value] ="this.dep_co" disabled aria-label="Username">
                        <span class="input-group-text">Centro de costos&nbsp;
                            <label *ngIf="isInvalid('cCostos')" style="color: red; font-size: small;">( campo obligatorio* )</label>
                        </span>
                        <input type="text" class="form-control" [value]="this.centro_co" disabled aria-label="Server">
                    </div>

                    <label for="basic-url" class="form-label d-flex justify-content-center">Permiso para faltar a sus labores</label>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-con" autocomplete="off" formControlName="tPermiso1">
                                <label class="btn btn-outline-success" for="btn-check-con">Con goce de sueldo</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-sin" autocomplete="off" formControlName="tPermiso2">
                                <label class="btn btn-outline-success" for="btn-check-sin">Sin goce de sueldo</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-sindi" autocomplete="off" formControlName="tPermiso3">
                                <label class="btn btn-outline-success" for="btn-check-sindi">Sindicalizado</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="input-group mb-1 d-flex justify-content-center">
                                <input type="checkbox" class="btn-check" id="btn-check-no" autocomplete="off" formControlName="tPermiso4">
                                <label class="btn btn-outline-success" for="btn-check-no">No sindicalizado</label>
                            </div>
                        </div>

                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">Por&nbsp;
                            <label *ngIf="isInvalid('cDias')" style="color: red; font-size: small;">( Campo obligatorio* )</label>
                            <label *ngIf="this.solicitudForm.get('cDias')?.value > this.dias_diponibles_colaborador" style="color: red; font-size: small;">(  Días No disponibles* )</label>
                        </span>
                        <input type="text" class="form-control" formControlName="cDias" placeholder="10" aria-label="Username">
                        <span class="input-group-text">días, a partir del&nbsp;
                            <label *ngIf="isInvalid('fechaApartir')" style="color: red; font-size: small;">( campo obligatorio* )</label>
                        </span>
                            <input class="form-control" matInput [matDatepicker]="inicioPicker" formControlName="fechaApartir"/>
                            <span><mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle></span>
                            <mat-datepicker #inicioPicker panelClass="calendario"></mat-datepicker>
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">al día&nbsp;
                            <label *ngIf="isInvalid('fechaHasta')" style="color: red; font-size: small;">( Campo obligatorio* )</label>
                        </span>
                            <input class="form-control" matInput [matDatepicker]="finPicker" formControlName="fechaHasta"/>
                            <span><mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle></span>
                            <mat-datepicker #finPicker panelClass="calendario"></mat-datepicker>                        
                            <span class="input-group-text">inclusive</span>
                    </div>

                    <div class="input-group mb-1">
                        <select (change)="valorSelect($event)" class="form-select form-select-md" aria-label=".form-select-sm example">
                            <option selected>Selecciona una opción</option>
                            <option value="Vacaciones">Vacaciones</option>
                            <option value="Pago tiempo por tiempo">Pago tiempo por tiempo</option>
                            <option value="Permiso">Permiso</option>
                            <option value="Permiso por paternidad">Permiso por paternidad</option>
                            <option value="Permiso por defuncion">Permiso por defunción</option>
                        </select>
                    </div>

                    <div class="input-group mb-1" *ngIf="this.opcionselect != 'Pago tiempo por tiempo'">
                        <span class="input-group-text">Motivo&nbsp;
                            <label *ngIf="isInvalid('motivo')" style="color: red; font-size: small;">( Campo obligatorio* )</label></span>
                        <textarea class="form-control" aria-label="With textarea" formControlName="motivo"></textarea>
                    </div>

                    <div class="input-group mb-1" *ngIf="this.opcionselect == 'Pago tiempo por tiempo'">
                        <span class="input-group-text">Motivo&nbsp;
                            <!-- <label *ngIf="isInvalid('motivo')" style="color: red; font-size: small;">( Campo obligatorio* )</label>               -->
                            <label *ngIf="solicitudForm.controls['motivo'].invalid" style="color: red; font-size: small;">( Ingresa formato fecha valido )</label>
                        </span>
                        <textarea pattern="^El tiempo se pagara del \d{1,2} al \d{1,2} de [A-Z][a-z][a-z], \d{1,2} hr al dia+.*" class="form-control" aria-label="With textarea" formControlName="motivo" placeholder="Ejemplo: El tiempo se pagara del 27 al 31 de Oct, 1 hr al dia..."></textarea>
                    </div>

                    <div class="input-group d-flex justify-content-center mt-2">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center" *ngIf="this.spinerBandera == false">
                                <label class="aut">Firmar</label>&nbsp;&nbsp;
                                <div class="form-check form-switch">
                                    <input class="form-check-input activ" formControlName="firma" type="checkbox" id="flexSwitchCheckDefault" (click)="cambiarLeyenda($event)">
                                    &nbsp;&nbsp;<label class="form-check-label aut" for="flexSwitchCheckDefault"></label>
                                    <!-- {{checkLeyenda}} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12"></div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-5 col-sm-12"></div>
            <div class="col-lg-2 col-sm-12">
                <div class="container-fluid d-flex justify-content-center" style="margin-top: 1vh;">
                    <button *ngIf="this.spinerBandera == false && this.opcionselect != '' && this.solicitudForm.value.firma != 0 && this.solicitudForm.value.fechaApartir != '' && this.solicitudForm.value.fechaHasta != '' && this.solicitudForm.value.cDias != '' && this.solicitudForm.value.tPermiso != '' && this.solicitudForm.value.tPermiso != 'Selecciona una opción'  && this.solicitudForm.value.motivo != '' && this.solicitudForm.get('cDias')?.value <= this.dias_diponibles_colaborador && (this.solicitudForm.value.tPermiso1 == true || this.solicitudForm.value.tPermiso2 == true || this.solicitudForm.value.tPermiso3 == true || this.solicitudForm.value.tPermiso4 == true) && solicitudForm.controls['motivo'].valid && this.colaborador[0].Dias_disponibles != 0" class="btn btn-success w-100" type="button" (click)="enviar()">Enviar</button>
                    <button *ngIf="this.spinerBandera == false && this.opcionselect == '' || this.solicitudForm.value.firma == 0 || this.solicitudForm.value.fechaApartir == '' || this.solicitudForm.value.fechaHasta == '' || this.solicitudForm.value.cDias == '' || this.solicitudForm.value.tPermiso == '' || this.solicitudForm.value.tPermiso == 'Selecciona una opción' || this.solicitudForm.value.motivo == '' || this.solicitudForm.get('cDias')?.value > this.dias_diponibles_colaborador || (this.solicitudForm.value.tPermiso1 == false && this.solicitudForm.value.tPermiso2 == false && this.solicitudForm.value.tPermiso3 == false && this.solicitudForm.value.tPermiso4 == false) || solicitudForm.controls['motivo'].invalid || this.colaborador[0].Dias_disponibles == 0" disabled class="btn btn-secondary w-100" type="button">Enviar</button>
                    <!-- <div class="text-center" *ngIf="spinerBandera">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div> -->
                    <span *ngIf="spinerBandera" class="loader"></span>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12"></div>
        </div>
        
    </div>

    <div class="alert alert-success d-flex align-items-center alert-pos" role="alert" *ngIf="alertSuccess" #alerToast>
        <div>
           <i class="bi bi-check-circle"></i>&nbsp;&nbsp;Se ha enviado la solicitud. Espera la respuesta.
        </div>
    </div>
    <div class="alert alert-danger d-flex align-items-center alert-pos" role="alert" *ngIf="alertDanger" #alerToast>
        <div>
           <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;&nbsp;Error al enviarse la solicitud.
        </div>
    </div>

</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mi Historial</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      
    </div>
    <div class="dropdown mt-3">
        <div *ngIf="this.solicitudesUsuario.length == 0" class="d-flex justify-content-center">
            <p style="color: red;">Aún no hay solicitudes que mostrar.</p>
        </div>
        <div *ngIf="this.solicitudesUsuario.length == 0" class="d-flex justify-content-center">
            <i class="bi bi-emoji-frown" style="color: red; font-size: 6vh;"></i>
        </div>
        <div *ngIf="this.solicitudesUsuario.length != 0" class="accordion-item">
            
                                    <div *ngFor="let solicitud of solicitudesUsuario; let i = index">
                                    <h2 class="accordion-header" [attr.id]="'heading' + i">
                                        <button (click)="toggleRotation(solicitud)" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                                            <div class="row w-100 acordion-lista">
                                                <!-- <div class="col-lg-1"> -->
                                                    <!-- <img src="assets/carpeta.ico" alt="Carpeta" width="20" height="30" class="mb-1"> -->
                                                <!-- </div> -->
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-10">
                                                            <strong style="font-size: small;">Fecha de solicitud: </strong><a style="font-size: small;">{{solicitud.fecha_solicitud}}</a><br>
                                                            <!-- <a *ngIf="solicitud.tipo_solicitud == 'Pago tiempo por tiempo'">{{solicitud.fecha_solicitud}} Pago tiempo x tiempo</a> -->
                                                        </div>
                                                        <div class="col-lg-2 d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-chevron-down" [ngClass]="{'arriba-rotada': solicitud.isRotated == true, 'abajo-rotada': solicitud.isRotated}"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </h2>
                                    <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i">
                                        <div class="accordion-body">
                                            <div class="list-group">
                                                <a class="list-group-item list-group-item-action list-group-item-light" role="button">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <strong>Tipo: </strong><span class="badge rounded-pill bg-warning">{{solicitud.tipo_solicitud}}</span><br>
                                                            <strong>Por: </strong><a>{{solicitud.cuantos_dias}}</a> día(s)<br>
                                                            <strong>Del: </strong><a>{{solicitud.fecha_apartir}}</a><br>
                                                            <strong>Al: </strong><a>{{solicitud.fecha_hasta}}</a><br>
                                                            <strong>Motivo: </strong><a>{{solicitud.motivo}}</a><br>
                                                            <strong *ngIf="solicitud.status == 'Completado'">Status: </strong><a *ngIf="solicitud.status == 'Completado'" style="color: green; font-weight: bold;">{{solicitud.status}}</a>
                                                            <strong *ngIf="solicitud.status == 'Rechazado'">Status: </strong><a *ngIf="solicitud.status == 'Rechazado'" style="color: red; font-weight: bold;">{{solicitud.status}}</a>
                                                            <!-- <img src="assets/pdf.ico" alt="PDF" width="20" height="30" class="d-block mx-auto"> -->
                                                        </div>
                                                        <!-- <div class="col-11">
                                                            <a></a>
                                                        </div> -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
            </div>
      
      <!-- <div class="accordion" id="accordionExample">
        <div class="accordion-item" >
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                {{solicitud.fecha_solicitud}}
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
            </div>
        </div>
      </div> -->

    </div>
  </div>
</div>










