.fade-in-slow {
  opacity: 0;
  animation: fadeInSlow 1s ease-in-out forwards;
}

@keyframes fadeInSlow {
  to {
    opacity: 1;
  }
}

.icon-c{
    font-size: 2em;
    color: red;
    margin-left: 2vh;
}
.icon-a{
    font-size: 2em;
    color: rgb(3, 126, 46);
    margin-left: 2vh;
}

.icon-dias{
    background-color: greenyellow;
    border-radius: 10%;
    font-weight: bold;
}

.rechazar{
  background-color: rgb(242, 34, 34);
  color: #fff;
  z-index: -10;
  border-radius: 40%;
}

.aprobar{
  background-color: rgb(3, 126, 46);
  color: #fff;
  z-index: -10;
  border-radius: 40%;
}

div p{
  font-weight: bold;
}

.table-title{
  color: gray;
  font-weight: bold;
}

.card-text-subtitle{
  font-size: medium;
  color: gray;
  margin-bottom: 1em;
}

.punto{
  font-size: xx-large;
  color: rgb(18, 225, 18);
}

input.activ{
  width: 50px;
  height: 25px;
}

input.activ:checked {
  background-color: rgb(4, 114, 26);
  border-color: rgb(4, 114, 26);
  opacity: .8;
}

input.activ:checked::before {
  background-color: white;
}

.g-boton{
  position: absolute;
  bottom: 1;
  left: 1;
  width: 66vh;
  z-index: 10;
}

.motivo{
  font-size: medium;
}

.motivo-text{
  font-size: small;
  font-weight: normal;
  color: grey;
}

.loader {
  width: 48px;
  height: 12px;
  /* margin-top: 40px; */
  background: rgb(4, 114, 26);
  opacity: .9;
  display: inline-block;
  position: relative;
}
.loader::after {
  content: '';  
  left: 50%;
  top: -47px;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: rgb(4, 114, 26);
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}
.loader::before {
  content: '';  
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 20px;
  background: rgb(4, 114, 26);
  opacity: .9;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}



.loader-firm {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader-firm::after,
.loader-firm::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader-firm::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
    