.enc-c{
    margin-top: -1em;
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: gray;
}
.enc{
    /* margin-top: -1em; */
    display: flex;
    justify-content: center;
}
.text{
    color: #000;
    font-weight: bold;
}
.btn-b{
    border: none; 
    font-size: x-large;
    color: #000;
}
.btn-b:hover{
    color: red;
}
.icon{
    color: red;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
.bt{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}