.fade-in-slow {
  opacity: 0;
  animation: fadeInSlow 1s ease-in-out forwards;
}

@keyframes fadeInSlow {
  to {
    opacity: 1;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #071a3d, #2a5298); */
  background-color: whitesmoke;
  /* box-shadow: 5px 5px 10px 10px #000; */
  /* opacity: .9; */
}

.btn-s{
  background-color: greenyellow;
  width: 50px;
  height: 20px;
}

.ico {
  color: #000;
}

.alert-text{
  display: flex;
  justify-content: center;
  color: red;
}

.alert-pos{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1em;
}

.enlace-contrasena{
  font-size: small;
  color: rgb(4, 122, 67);
  cursor: pointer;
  text-decoration: none;
}

.enlace-contrasena:hover{
  font-weight: bold;
  color: rgb(4, 142, 87);
  cursor: pointer;
}

.enlace-manual{
  font-size: small;
  color: rgb(29, 73, 232);
  cursor: pointer;
  text-decoration: none;
}

.enlace-manual:hover{
  font-weight: bold;
  color: rgb(13, 52, 194);
  cursor: pointer;
}

.modal-content{
  background-image: url('/assets/cin_b.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 40vh; */
    margin: 0;
    z-index: 1060;
}