.fade-in-slow {
  opacity: 0;
  animation: fadeInSlow 1s ease-in-out forwards;
}

@keyframes fadeInSlow {
  to {
    opacity: 1;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #071a3d, #2a5298); */
  background-color: whitesmoke;
  /* box-shadow: 5px 5px 10px 10px #000; */
  /* opacity: .9; */
}

.btn-s{
  background-color: greenyellow;
  width: 50px;
  height: 20px;
}

.ico {
  color: #000;
}

.alert-text{
  display: flex;
  justify-content: center;
  color: red;
}

.alert-pos{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1em;
}

.enlace-registro{
  font-size: small;
  color: rgb(4, 150, 7);
  cursor: pointer;
  /* text-decoration: none; */
}

.enlace-registro:hover{
  font-weight: bold;
  color: rgb(2, 95, 3);
  cursor: pointer;
}
