<div class="fade-in-slow mt-1">
    <div class="container-fluid contenedor shadow p-2">
        <div class="container-fluid box">
            <div class="row mb-1">
                <!-- <div class="col-lg-1 col-md-12 col-sm-12 d-flex justify-content-start">
                    <i class="bi bi-arrow-left"  style="font-size: 3.5vh;" (click)="volver()"></i>
                </div> -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row" *ngIf="datosColaborador">

                        <div class="col-lg-5 col-md-5 col-sm-12 d-flex justify-content-end">
                            <p *ngIf="this.nDias != 0">{{this.datosColaborador[0].Nombre_completo}}:</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
                            <p *ngIf="this.nDias != 0"><span class="badge rounded-pill bg-warning">DIAS DE VACACIONES: {{this.datosColaborador[0].Dias_vacaciones}}</span></p>&nbsp;
                            <p *ngIf="this.nDias != 0"><span class="badge rounded-pill bg-danger">DIAS OCUPADOS: {{this.datosColaborador[0].Dias_ocupados}}</span></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-start">
                            <p *ngIf="this.nDias != 0"><span class="badge rounded-pill bg-primary">DIAS DISPONIBLES: {{this.datosColaborador[0].Dias_disponibles}}</span></p>&nbsp;
                            <p *ngIf="this.nDias != 0"><span (click)="descargarExcel()" style="cursor: pointer;" class="badge rounded-pill bg-success"><i class="bi bi-file-earmark-spreadsheet"></i> DESCARGAR EXCEL</span></p>&nbsp;
                        </div>

                    </div>


                   <!-- <div class="d-flex justify-content-center" *ngIf="datosColaborador"> 
                    <p *ngIf="this.nDias != 0">{{this.datosColaborador[0].Nombre_completo}}:</p>&nbsp;
                    <p *ngIf="this.nDias != 0"><span class="badge rounded-pill bg-warning">DIAS DE VACACIONES: {{this.datosColaborador[0].Dias_vacaciones}}</span></p>&nbsp;&nbsp;
                    <p *ngIf="this.nDias != 0"><span class="badge rounded-pill bg-danger">DIAS OCUPADOS: {{this.datosColaborador[0].Dias_ocupados}}</span></p>&nbsp;&nbsp;
                    <p *ngIf="this.nDias != 0"><span class="badge rounded-pill bg-primary">DIAS DISPONIBLES: {{this.datosColaborador[0].Dias_disponibles}}</span></p>&nbsp;&nbsp;
                    <p *ngIf="this.nDias != 0"><span (click)="descargarExcel()" style="cursor: pointer;" class="badge rounded-pill bg-success"><i class="bi bi-file-earmark-spreadsheet"></i> DESCARGAR EXCEL</span></p>
                   </div> -->

                </div>
                <!-- <div class="col-lg-3 col-md-12 col-sm-12 d-flex justify-content-end"  (click)="abrirAlerta()" style="cursor: pointer;">
                   <p>{{this.user[0].Nombre_completo}}</p>&nbsp;&nbsp;
                   <i class="bi bi-person-circle" style="font-size: 3.5vh; margin-top: -1vh;"></i>
                </div> -->
            </div>
            <div>
                <div  [formGroup]="consultaForm">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <select (change)="valorSelectDep($event)" class="form-select" aria-label="Default select example">
                                <option selected>Selecciona departamento</option>
                                <option *ngIf="user[0].Tipo == 'RI' || user[0].Tipo == 'JI' || user[0].Tipo == 'G'" value="ALMACEN">ALMACEN</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="CERAMICA">CERAMICA</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="COMPRAS">COMPRAS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="CONTABILIDAD">CONTABILIDAD</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="CONTROL DE CALIDAD">CONTROL DE CALIDAD</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="CONTROL DE PRODUCCION">CONTROL DE PRODUCCION</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="CREDITO Y COBRANZAS">CREDITO Y COBRANZAS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="DESARROLLO DE ABRASIVOS">DESARROLLO DE ABRASIVOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="EMBARQUES Y EMPAQUES">EMBARQUES Y EMPAQUES</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="ESPECIALIDADES REFRACTARIAS">ESPECIALIDADES REFRACTARIAS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="GERENCIA EJECUTIVOS">GERENCIA EJECUTIVOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="HORNOS">HORNOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="ING.NVO.PROYECTOS">ING.NVO.PROYECTOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="ING.NVO.PROYECTOS REFRACTARIOS">ING.NVO.PROYECTOS REFRACTARIOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="MANTENIMIENTO">MANTENIMIENTO</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="OFICINA CDMX">OFICINA CDMX</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="OFICINA GUADALAJARA">OFICINA GUADALAJARA</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="OFICINA MONTERREY">OFICINA MONTERREY</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="OFICINA PUEBLA">OFICINA PUEBLA</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="OFICINA QUERETARO">OFICINA QUERETARO</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="PUNTAS MONTADAS">PUNTAS MONTADAS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="REFRACTARIOS">REFRACTARIOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="RELACIONES INDUSTRIALES">RELACIONES INDUSTRIALES</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="SHELLACK">SHELLACK</option>
                                <option *ngIf="user[0].Tipo == 'RI' || user[0].Tipo == 'JI' || user[0].Tipo == 'G'" value="SISTEMAS DE INFORMACION">SISTEMAS DE INFORMACION</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="TECNICO">TECNICO</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="TERMINADO">TERMINADO</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="VENTAS REFRACTARIOS">VENTAS REFRACTARIOS</option>
                                <option *ngIf="user[0].Tipo == 'RI'" value="VENTAS TOLUCA">VENTAS TOLUCA</option>
                            </select>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12">
                            <select (change)="valorSelectA($event)" class="form-select" aria-label="Default select example">
                                <option selected>Año</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                          <div class="col-lg-2 col-md-1 col-sm-12">
                            <select (change)="valorSelectMes($event)" class="form-select" aria-label="Default select example">
                                <option selected>Mes</option>
                                <option value="enero">Enero</option>
                                <option value="febrero">Febrero</option>
                                <option value="marzo">Marzo</option>
                                <option value="abril">Abril</option>
                                <option value="mayo">Mayo</option>
                                <option value="junio">Junio</option>
                                <option value="julio">Julio</option>
                                <option value="agosto">Agosto</option>
                                <option value="septiembre">Septiembre</option>
                                <option value="octubre">Octubre</option>
                                <option value="noviembre">Noviembre</option>
                                <option value="diciembre">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                                <input (keydown)="onKeydown($event)" type="text" class="form-control" formControlName="criterio" placeholder="Consultar" aria-label="Username" aria-describedby="basic-addon1">
                                <button class="btn btn-secondary" (click)="consultar(user[0].Tipo)">Consultar</button>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
            <!-- <div class="overflow-auto" style="max-height: 77vh;"> -->
                <div class="table-responsive overflow-auto" style="max-height: 83vh;">     
                    <table class="table table-light table-hover">
                        <thead>
                            <!-- <tr class="table-title">
                            Ausentes:
                            </tr> -->
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Depto.</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha Solicitud</th>
                            <th scope="col">Días</th>
                            <th scope="col">Periodo</th>
                            <!-- <th scope="col">Motivo</th> -->
                            <th scope="col">Status</th>
                            <th scope="col">Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="datos(solicitud)" *ngFor="let solicitud of solicitudes; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td style="font-size: small;">{{solicitud.Nombre_completo}}</td>
                            <td style="font-size: small;">{{solicitud.Departamento}}</td>
                            <td style="font-size: small;"><span class="badge rounded-pill bg-secondary">{{solicitud.tipo_solicitud}}</span></td>
                            <td style="font-size: small;">{{solicitud.fecha_solicitud}}</td>
                            <td style="font-size: small;">{{solicitud.cuantos_dias}}</td>
                            <td style="font-size: small;">{{solicitud.fecha_apartir}} al {{solicitud.fecha_hasta}}</td>
                            <!-- <td style="font-size: small;">{{solicitud.motivo}}</td> -->
                            <!-- <td>{{solicitud.status}}</td> -->
                            <td style="font-size: small;"><span class="badge rounded-pill bg-light" style="color: #000;">{{solicitud.status}}</span></td>
                            <td><button class="btn btn-light descargar" (click)="generatePDFWithPdfMake(solicitud)"><i class="bi bi-download"></i></button></td>
                            <!-- <td><span class="badge rounded-pill bg-warning">{{solicitud.status}}</span></td> -->
                            </tr>
                        </tbody>
                    </table>
                    </div> 
                <!-- </div> -->
        </div>
    </div>
</div>
